<?xml version="1.1"?>
<!-- Xacro for fetch gripper -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find fetch_description)/urdf/fetch_utils.xacro"/>
  <xacro:include filename="$(find fetch_description)/urdf/fetch.ros2_control"/>

  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="default_origin_xyz" value="0 0 0"/>
  <xacro:property name="default_origin_rpy" value="0 0 0"/>
  <xacro:macro name="fetch_gripper" params="
    prefix:=fetch_
    origin_xyz:=${default_origin_xyz}
    origin_rpy:=${default_origin_rpy}
    collision:=true
    ros2_control:=true
    ros2_control_plugin:=fake
    ros2_control_command_interface:=effort
    gazebo_preserve_fixed_joint:=false
  ">

    <!-- gripper_link -->
    <xacro:fetch_link
    link_name="gripper_link"
    mesh="gripper_link"
    mesh_geometry="gripper_link.dae"
    mesh_collision="gripper_link.STL"     
    collision="${collision}"
    mu="0.85"
    />    
    <xacro:fetch_joint
    parent="wrist_roll_link"
    child="gripper_link"
    joint_name="gripper_axis"
    joint_type="fixed"
    joint_origin_xyz="0.16645 0 0"
    joint_origin_rpy="0 0 0"
    joint_axis_xyz="0 1 0"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />     

    <!-- r_gripper_finger_link -->
    <xacro:fetch_link
    link_name="r_gripper_finger_link"
    mesh="r_gripper_finger_link"
    mesh_geometry="r_gripper_finger_link.STL"
    mesh_collision="r_gripper_finger_link.STL"
    mesh_offset_xyz="0 0.101425 0"      
    collision="${collision}"
    mu="1.13"
    />    
    <xacro:fetch_joint
    parent="gripper_link"
    child="r_gripper_finger_link"
    joint_name="r_gripper_finger_joint"
    joint_type="prismatic"
    joint_origin_xyz="0 0.015425 0"
    joint_origin_rpy="0 0 0"
    joint_axis_xyz="0 1 0"
    joint_lower_limit="0.0"
    joint_upper_limit="0.05"
    joint_velocity_limit="0.05"
    joint_torque_limit="60"
    joint_damping="100.0"
    joint_friction="0.4"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />

    <!-- l_gripper_finger_link -->
    <xacro:fetch_link
    link_name="l_gripper_finger_link"
    mesh="l_gripper_finger_link"
    mesh_geometry="l_gripper_finger_link.STL"
    mesh_collision="l_gripper_finger_link.STL"
    mesh_offset_xyz="0 -0.101425 0"         
    collision="${collision}"
    mu="1.13"
    />    
    <xacro:fetch_joint
    parent="gripper_link"
    child="l_gripper_finger_link"
    joint_name="l_gripper_finger_joint"
    joint_type="prismatic"
    joint_origin_xyz="0 -0.015425 0"
    joint_origin_rpy="0 0 0"
    joint_axis_xyz="0 -1 0"
    joint_lower_limit="0.0"
    joint_upper_limit="0.05"
    joint_velocity_limit="0.05"
    joint_torque_limit="60"
    joint_damping="100.0"
    joint_friction="0.4"
    gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"
    />

    <!-- ROS 2 control -->
    <xacro:if value="${ros2_control}">
      <xacro:ros2_control_fetch_gripper prefix="${prefix}" plugin="${ros2_control_plugin}" command_interface="${ros2_control_command_interface}"/>
    </xacro:if>
  </xacro:macro>

</robot>